@import "../shared";

.detail-img {
  @include border-light;
  text-align: center;

  // img {
  //   width: 100%;
  //   height: auto;
  // }
}

.detail-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  @include border-light;

  .title {
    margin-top: 1rem;
  }

  .price {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 0.1rem $shadow-color;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
  }
}
