@import "../shared";

.button {
  width: 100%;
  padding: 1.6rem;
  background-color: $alt-color;
  color: $light-color;
  font-size: 1.4rem;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;

  @include media-up(md) {
    width: 20rem;
  }

  &:hover {
    color: $light-color;
    background-color: $alt-color-light;
    transition: all ease-in 0.1s;
  }

  i {
    margin-right: 0.5rem;
  }
}

.alt {
  background-color: $light-color;
  color: $alt-color;
  border: 0.2rem solid $alt-color;

  &:hover {
    background-color: unset;
    color: $alt-color-light;
  }
}

.full-width {
  width: 100%;
}

.disabled {
  cursor: auto;
  margin-bottom: 1rem;
  color: $dark-color;
  background-color: $shadow-color;

  &:hover {
    background-color: $shadow-color;
    color: $dark-color;
  }
}
