@import "../shared";

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.6rem;
  padding: 1rem;
  padding-bottom: 2rem;
  background: #fff;
  color: $medium-color;
  box-shadow: 0rem 0rem 0.5rem $shadow-color;
  border-radius: 0.5rem;
  transition: ease-in 0.2s;
  @include border-light;

  &:hover {
    transform: translateY(-0.5rem);
    transition: transform ease-in 0.2s;
  }

  & > * {
    margin: 0;
    color: $medium-color;
  }

  .link {
    text-decoration: none;
    color: unset;

    & > * {
      margin: unset;
    }

    .img {
      img {
        width: 100%;
        height: auto;
      }
    }

    .title {
      margin-top: 1rem;
      font-size: 1.6rem;
      font-weight: 550;
      color: $medium-color;
    }
  }

  .price {
    font-weight: bold;
  }
}
