@import "../shared";

.container {
  width: 100%;
  position: fixed;
  background-color: $dark-color;
  box-sizing: border-box;
  z-index: 2;
  bottom: 0;

  @include media-up(md) {
    top: 0;
    bottom: unset;
  }
}

.nav {
  margin: 0 auto;
  padding: 0.8rem 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  cursor: default;

  @include media-up(md) {
    max-width: 1200px;
    padding: 0 1.6rem;
    grid-template-columns: auto 5fr;
    justify-items: unset;
  }

  &_logo {
    width: fit-content;
    z-index: 1;
    padding: 0.4rem 0;

    a {
      display: flex;
      position: relative;
      padding-bottom: 0.5rem;
      margin-top: -0.5rem;
      align-items: center;
      font-family: $font-title;
      font-size: 2.6rem;
      font-weight: 600;
      text-decoration: none;
      color: $light-color;
    }

    span:nth-child(1) {
      color: $alt-color;
      font-size: 3.8rem;
      font-style: italic;
      font-weight: 800;
    }

    span:nth-child(3) {
      position: absolute;
      right: 0;
      bottom: 6%;
      background: $alt-color;
      font-size: 1.6rem;
      line-height: 1.4rem;
      transform: rotate(-5deg);
    }
  }

  &_menu {
    width: 100%;
    z-index: 1;
    max-height: 50vh;
    overflow-y: auto;

    @include media-up(md) {
      width: 80%;
      height: 100%;
      max-height: unset;
      justify-content: end;
      justify-self: end;
      overflow: unset;
    }

    @include media-up(lg) {
      width: 60%;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      z-index: 1;
      height: 100%;

      @include media-up(md) {
        flex-direction: row;
      }

      li {
        width: 100%;
        height: auto;
        position: relative;
        order: 1;

        a {
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;
          font-size: 1.6rem;
          font-weight: 500;
          color: $light-color;
          background-color: $dark-color;
          padding: 1.2rem 0.8rem;
          transition: background-color ease-in 0.2s;
          white-space: nowrap;

          @include media-up(md) {
            justify-content: center;
            padding: 0 1rem;
          }

          &:hover {
            background-color: $medium-color;
            transition: background-color ease-in 0.2s;
          }
        }
      }
    }

    li.main {
      z-index: 0;
      display: block;
      overflow-x: hidden;
      overflow-y: hidden;

      @include media-up(md) {
        overflow: unset;
      }

      &:hover > ul.sub {
        position: relative;
        transform: translateY(0%);
        opacity: 1;
        transition: transform ease-in 0.3s, opacity ease-in 0.5s;

        @include media-up(md) {
          position: absolute;
        }
      }

      i {
        font-size: 1rem;
        margin-left: 0.5rem;
      }
    }

    ul.sub {
      display: flex;
      flex-direction: column;
      min-width: 100%;
      width: fit-content;
      opacity: 0;
      transition: transform ease-in 0.3s, opacity ease-in 0.5s;
      z-index: -1;
      position: absolute;

      @include media-up(md) {
        display: block;
        transform: translateY(-100%);
      }

      li {
        margin: 0;
        padding: 0;

        a {
          background: $alt-color;
          text-align: left;
          justify-content: flex-start;
          padding: 1.2rem 0.8rem;

          &:hover {
            background: $alt-dark-color;
          }
        }
      }
    }
  }
}
