//Fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

//Variables
$dark-color: #262626;
$medium-color: #313131;
$main-color: #2274a5;
$alt-color: #ff7f11;
$alt-dark-color: #e0710f;
$light-color: #fbfbf2;
$shadow-color: #e5e6e4;
$font-title: "Source Sans Pro", sans-serif;
$font-text: "Rubik", sans-serif;

//Mixins

$breakpoints: (
  sm: 540px,
  md: 768px,
  lg: 992px,
  xl: 1444px,
);

@mixin media-up($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}
