@import "./components/shared";

html {
  box-sizing: border-box;
}

main {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 6.6rem;
  padding: 1.6rem;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;

  @include media-up(md) {
    padding-top: 5.5rem;
    min-height: 100vh;
    margin-bottom: 0;
  }
}
