@import "../shared";

.item-count {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 0.8rem;
  text-align: center;

  button {
    padding: 0;
    border: none;
    border-radius: 0.4rem;
    background-color: #fff;
    color: $main-color;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      color: $main-color-light;
    }

    &:disabled {
      cursor: auto;
      color: $shadow-color;
    }
  }

  button:last-child {
    padding: 1.6rem;
    grid-column: span 3;
    background-color: $alt-color;
    color: $light-color;
    font-size: 1.4rem;

    &:hover {
      background-color: $alt-color-light;
      transition: all ease-in 0.1s;
    }
  }
}
