@import "../shared";

.item-count {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 0.8rem;
  text-align: center;

  .quantity-btn {
    padding: 0;
    border: none;
    border-radius: 0.5rem;
    background-color: #fff;
    color: $main-color;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      color: $main-color-light;
    }

    &:disabled {
      cursor: auto;
      color: $shadow-color;
    }
  }

  .available {
    justify-content: center;
    grid-column: span 3;
    font-size: 1.4rem;
  }

  .button {
    grid-column: span 3;
  }
}
