@import "../shared";

.item-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  min-height: 50vh;
  margin: 1rem auto;
  position: relative;

  @include media-up(md) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include media-up(lg) {
    grid-template-columns: repeat(5, 1fr);
  }
}
